Battle-Field-2/BattleFieldGame/bin/Debug/BattleFieldGame.exe
Battle-Field-2/BattleFieldGame/bin/Debug/BattleFieldGame.exe
Battle-Field-2/BattleFieldGame/bin/Debug/BattleFieldGame.exe
Battle-Field-2/BattleFieldGame/bin/Debug/BattleFieldGame.pdb
Battle-Field-2/BattleFieldGame/obj/Debug/BattleFieldGame.exe
Battle-Field-2/BattleFieldGame/obj/Debug/BattleFieldGame.pdb
Battle-Field-2/BattleFieldGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Battle-Field-2/BattleFieldGame/bin/Debug/BattleFieldGame.exe
*.exe
Battle-Field-2/BattleFieldGame/obj/Debug/BattleFieldGame.exe
Battle-Field-2/BattleFieldGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache